.d-flex{
    display: flex;
} 
.left{
    width: 20%;
    height: 100vh;
    margin-left: 20px;
    overflow-y: scroll;
}
.left a{
    display: block;
    margin-top: 10px;
    
}
.right{
    width: 70%;
    height: 100vh;
}
.cards-container{
    justify-content: center;
    margin-top: 5vh;
}
.card {
    width: 60vh;
    margin: 10vh 5vh;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
}
.card img{
    border-radius: 30px 30px 0px 0px;
}
.card div{
    margin: 10px 0px;
    width: 100%;
    padding: 0px 15px;
}
.card h3, .card p{
    margin: 2vh 1vh;
}
.card button{
    width: 100%;
    padding: 1vh 0vh;
    border: 2px solid brown;
    border-radius: 100px;
    font-size: 20px;
}